{%extends 'useradmin/base.html'%}
{%load static%}
{%block content%}
        <main class="main-wrap">

            <section class="content-main">
                <div class="row">
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Add New Product</h2>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Basic</h4>
                            </div>
                            <div class="card-body">
                                {% if form.errors%}
                                <div class="alert alert-danger">
                                    <strong>{{form.errors}}</strong>
                                </div>   
                                {%endif%}
             <form method="POST" enctype="multipart/form-data">
                                    {%csrf_token%}
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product title</label>
                                        {% comment %} <input type="text" placeholder="Type here" class="form-control" id="product_name" /> {% endcomment %} 
                                        {{form.title}}
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Full description</label>
                                        {{form.description}}
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Regular price</label>
                                                <div class="row gx-2">
                                                    {{form.old_price}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Promotional price</label>
                                                {{form.price}}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="form-label">Currency</label>
                                            <select class="form-select">
                                                <option>USD</option>
                                                <option>EUR</option>
                                                <option>RUBL</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Type</label>
                                        {{form.type}}
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Specifications</label>
                                        {{form.specifications}}
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Stock Count</label>
                                        {{form.stock_count}}
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Life</label>
                                        {{form.life}}
                                    </div>
                                    
                                    <label class="form-check-label">Digital</label>
                                        {{form.digital}}
                                  
                                
                            </div>
                        </div>
                        <!-- card end// -->
                    </div>
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Media</h4>
                            </div>
                            <div class="card-body">
                                <div class="input-upload">
                                    <img src="{% static 'assets/imgs/theme/upload.svg' %}" alt="" />
                                    {{form.image}}
                                </div>
                            </div>
                        </div>
                        <!-- card end// -->
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Others</h4>
                            </div>
                            <div class="card-body">
                                <div class="row gx-2">
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Category</label>
                                        {{form.category}}
                                    </div>
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Tags</label>
                                        {{form.tags}}
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Manufacturing Date</label>
                                        {{form.mfd}}
                                    </div>
                                </div>
                                <!-- row.// -->
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-md rounded font-sm hover-up">Publish</button>
                        </div>
            </form>
                        <!-- card end// -->
                    </div>
                </div>
            </section>
            <!-- content-main end// -->
        </main>
{%endblock content%}