{%extends 'useradmin/base.html' %}
{%load static%}
{%block content%}
<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Profile setting</h2>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row gx-5">
                <div class="col-lg-12">
                    <section class="content-body p-xl-4">
                        <form method='POST' action="{%url 'useradmin:update_profile'%}" enctype="multipart/form-data">
                            {%csrf_token%}
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="row gx-3">
                                        <div class="col-12 mb-3">
                                            <label class="form-label">Full Name</label>
                                            <input class="form-control" name="full_name" type="text" value="{{profile.full_name}}" placeholder="Enter full name" />
                                        </div>
                                        <div class="col-6 mb-3">
                                            <label class="form-label">Email</label>
                                            <input class="form-control bg-light" value="{{profile.user.email}}" readonly type="text" placeholder="Type here" />
                                        </div>
                                        <div class="col-lg-6 mb-3">
                                            <label class="form-label">Mobile</label>
                                            <input class="form-control" name='mobile' value="{{profile.mobile}}" type="text" placeholder="+123 456 7890" />
                                        </div>
                                        <div class="col-lg-6 mb-3">
                                            <label class="form-label">Username</label>
                                            <input class="form-control" name='username' value="{{profile.user.username}}" type="text" placeholder="Type here" />
                                        </div>
                                        <div class="col-lg-6 mb-3">
                                            <label class="form-label">Bio</label>
                                            <input class="form-control" name='bio' value="{{profile.bio}}" type="text" placeholder="Enter Bio" />
                                        </div>
                                    </div>
                                </div>
                                <aside class="col-lg-4">
                                    <figure class="text-lg-center">
                                        {%if profile.image%}
                                        <img class="img-lg mb-3 img-avatar" src="{{profile.image.url}}" style='object-fit' alt="User Photo" />
                                        {%else%}
                                        <img class="img-lg mb-3 img-avatar" src="https://www.shutterstock.com/image-vector/vector-flat-illustration-grayscale-avatar-600nw-2281862025.jpg" style='object-fit' alt="User Photo" />
                                        {%endif%}
                                        <figcaption>
                                            <input type="file" class="form-control-file" value='' name="image" id="">
                                        </figcaption>
                                    </figure>
                                </aside>
                            </div>
                            <br />
                            <button class="btn btn-primary" type="submit">Save changes</button>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock content%}